body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.loading {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border: 4px dashed #2196F3;
  border-radius: 4px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
